<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.program.mapper.QuestionBankMapper">


    <select id="getNamedQuery" resultType="java.lang.String">
        select bank_name from question_bank 
        where bank_id in
        <foreach collection="bankId" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>
