<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.program.mapper.UserRoleMapper">
    <update id="doAssign">
        insert into sys_role_menu (
        role_id,
        menu_id,
        create_time , update_time , is_deleted , is_half
        ) values
        <foreach collection="menuIdList" item="menuInfo" separator=",">
            (#{id} , #{menuInfo.id} , now() , now() , 0 , #{menuInfo.isHalf})
        </foreach>
    </update>

    <delete id="deleteByRoleId">
        delete from sys_role_menu where role_id = #{roleId}
    </delete>
</mapper>
